.main-nav {
  width: 100%;
  height: 75px;
  border-bottom: thin solid #ccc;
  display: flex;
  align-items: center;
}

.logo {
  height: 90%;
  cursor: pointer;
}

.main-search {
  width: 30%;
  height: 40px;
}

.main-search {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding-right: 5px;
}

.search-icon svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main-search-input {
  height: 28px;
  width: 100%;
  border: none;
  font-size: 18px;
}

.main-search-input:focus {
  outline: none;
}

.quick-links {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
  gap: 4px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #ccc;
}

.nav-link svg {
  width: 36px;
  height: 36px;
}

.nav-link p {
  margin: 0;
}
