.third-nav {
  height: 40px;
  width: 100%;
  border-bottom: thin solid #ccc;
  display: flex;
}

.categories {
  margin: 0 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.text-logo {
  display: flex;
}

.text-logo img {
  height: 20px;
}

.third-nav p {
  margin: 0;
  cursor: pointer;
}

.red-text {
  color: red;
}

/* Hide on smaller screens (default) */
.categories p:nth-of-type(n + 7) {
  display: none;
}

/* Show all on big screens */
@media (min-width: 1500px) {
  .categories p:nth-of-type(n + 7) {
    display: block;
  }
}
